::-webkit-scrollbar {
  display:none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #565656;
  border-radius: 100vh;
  border: 3px solid #cecece0f;
}

::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}

html, body {
  font-family: "Montserrat", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

.anchor{
    display: block;
    height: 80px; /*same height as header*/
    margin-top: -80px; /*same height as header*/
    visibility: hidden;
  }

#logo {
  width: max-content;
}

@media (max-width: 320px) {

  .cardss {
    width: 75%
  }

}

@media (max-width: 360px) {

  .cardss {
    width: 80%
  }
}