::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #565656;
  border-radius: 100vh;
  border: 3px solid #cecece0f;
}

::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}

html, body {
  font-family: "Montserrat", sans-serif;
}

.anchor{
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
  }
